<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.easybusiness.e_receipt">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/receipt"
        android:label="@string/app_name"
        android:roundIcon="@drawable/receipt"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.easybusiness.e_receipt.forgotPassword"></activity>
        <activity android:name="com.easybusiness.e_receipt.updateLogo" />
        <activity android:name="com.easybusiness.e_receipt.termsAndConditions" />
        <activity android:name="com.easybusiness.e_receipt.view" />
        <activity android:name="com.easybusiness.e_receipt.updateOwnerDetails" />
        <activity android:name="com.easybusiness.e_receipt.updateShopDetails" />
        <activity android:name="com.easybusiness.e_receipt.transferMoney" />
        <activity android:name="com.easybusiness.e_receipt.contactUs" />
        <activity android:name="com.easybusiness.e_receipt.aboutEreceipt" />
        <activity android:name="com.easybusiness.e_receipt.updatePassword" />
        <activity android:name="com.easybusiness.e_receipt.home" />
        <activity android:name="com.easybusiness.e_receipt.offline" />
        <activity android:name="com.easybusiness.e_receipt.somethingWentWrong" />
        <activity android:name="com.easybusiness.e_receipt.wrg" />
        <activity android:name="com.easybusiness.e_receipt.invoiceSend" />
        <activity android:name="com.easybusiness.e_receipt.shopLogoUpload" />
        <activity android:name="com.easybusiness.e_receipt.transactionDetail" />
        <activity android:name="com.easybusiness.e_receipt.customerDetail" />
        <activity android:name="com.easybusiness.e_receipt.login" />
        <activity android:name="com.easybusiness.e_receipt.successRegister" />
        <activity android:name="com.easybusiness.e_receipt.owerDetail" />
        <activity android:name="com.easybusiness.e_receipt.shopFirstDetail" />
        <activity android:name="com.easybusiness.e_receipt.registerPage" />
        <activity android:name="com.easybusiness.e_receipt.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="com.easybusiness.e_receipt.GenericFileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>